doctype html
html.b-ground-back-far
    head
        title БЭМ
        meta(charset="utf8")
        link(type="text/css" rel="stylesheet" href="dark.styles.css")
body.b-page
    //шапка
    .b-head
        .b-contact-belt
            img(class="b-contact-belt__logo", src="http://placehold.it/300x150")
            ul.b-contact-belt__phones
                li +7 124 456 78 90
                li +7 343 262 86 22
                li +7 354 654 65 65
        .b-slider
            img(class="b-slider__photo", src="http://placehold.it/1000x300")

    //основной контент
    .b-content

        //меню
        .b-menu
            .b-menu__item Abc
            .b-menu__item Def
            .b-menu__item Ghi
            .b-menu__item Jkl

        //новости
        .b-news
            .b-news-header События дня
            .b-new
                img(class="b-new__foto", src="http://placehold.it/200x250")
                .b-new__text
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis id urna id tincidunt. Donec et sem quis sapien fermentum blandit. Pellentesque eu tortor luctus, accumsan felis quis, accumsan elit. Praesent ac euismod dui, in hendrerit arcu. Pellentesque rutrum, nulla in mollis egestas, mi ipsum dictum diam, et viverra magna odio in mauris. Morbi non nunc quis magna sodales vulputate eget sit amet eros. In efficitur sem a feugiat pellentesque. Curabitur ornare quam eget lacus sodales convallis. Ut eu fringilla tortor. Sed tempus volutpat vulputate. In fringilla blandit pellentesque. Phasellus vel consequat magna.
            .b-new
                img(class="b-new__foto", src="http://placehold.it/200x250")
                .b-new__text
                    Duis ut placerat orci, quis ullamcorper ante. Quisque id scelerisque augue. Duis scelerisque erat at mi blandit egestas. Vestibulum scelerisque elit tortor, non aliquet tortor laoreet ut. Duis est lectus, auctor eget leo viverra, tempus gravida libero. Mauris at mi elementum, finibus felis ut, tempus arcu. Phasellus ac erat eget ligula volutpat ornare ut eu purus. Aliquam feugiat dapibus viverra. Nam viverra placerat elit sed elementum.
            .b-new
                img(class="b-new__foto", src="http://placehold.it/200x250")
                .b-new__text
                    Proin a neque sagittis, congue eros a, aliquet libero. Sed dictum in nulla id vehicula. Mauris eleifend nisl quis libero blandit, in tempus sem consectetur. Morbi eu egestas nisi. Nullam urna erat, aliquam nec blandit non, egestas in ipsum. Fusce vel scelerisque nunc. Integer euismod aliquet augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam lacus dolor, ornare sed consequat eu, malesuada et urna. Nulla sed ultricies nisi. Vestibulum venenatis neque sed massa luctus pharetra. Nullam suscipit auctor leo, et condimentum dui sagittis non.

        //боковая колонка с меню и пр.
        .b-sidebar
            .b-menu.b-menu_orient_vertical
                .b-menu__item 123
                .b-menu__item 456
                .b-menu__item 789
                .b-menu__item 012
                .b-menu__item 345

    //подвал
    .b-footer
        .b-menu.b-menu_style_modest
            .b-menu__item Abc
            .b-menu__item Def
            .b-menu__item Ghi
            .b-menu__item Jkl
        .b-footer__copy &copy;2015

