/*Полоска с контактами*/
.b-contact-belt{
    width:100%; height:100px;
    background: olivedrab;
    display:flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    background-image: url('b-contact-belt--monkey.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
}