/*Полоска с контактами*/

.b-contact-belt {
  width: 100%;
  height: 100px;
  background: olivedrab;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("images/b-contact-belt--monkey.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

.b-contact-belt__logo {
  height: 70%;
  width: auto;
  margin: 10px;
}

.b-contact-belt__phones {
  margin: 10px;
  list-style-type: none;
  font-size: 1.3rem;
}

/*основная область контента*/

.b-content {
  width: 100%;
  overflow: hidden;
}

/*Подвал*/

.b-footer {
  width: 100%;
  height: 70px;
  background-color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.b-footer__copy {
  float: right;
  width: 100px;
  text-align: right;
  color: white;
}

/*самый большой и дальний фон - обычно html тег*/

.b-ground-back-far {
  widht: 100%;
  min-height: 100%;
  background: gray;
}

/*шапка*/

.b-head {
  width: 100%;
}

/*Меню*/

.b-menu {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.b-menu__item {
  background-color: royalblue;
  color: white;
  text-align: center;
  line-height: 40px;
  height: 40px;
  -webkit-flex-basis: 50px;
  -ms-flex-preferred-size: 50px;
  flex-basis: 50px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  box-shadow: inset 0 0 3px chartreuse;
}

.b-menu__item:hover {
  box-shadow: inset 0 0 3px red;
  opacity: 0.8;
}

/*модификатор: вертикальное расположение*/

.b-menu_orient_vertical {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 6px;
}

.b-menu_orient_vertical .b-menu__item {
  width: 100%;
}

/*модификатор: приглушенный стиль для Подвала*/

.b-menu_style_modest {
  width: 50%;
}

.b-menu_style_modest .b-menu__item {
  background-color: gold;
}

/*частная новость*/

.b-new {
  margin: 0px 10px 20px 10px;
}

.b-new:after {
  content: '';
  display: block;
  clear: both;
}

.b-new__foto {
  float: left;
  margin: 0px 10px 10px 0px;
}

.b-new__text {
  text-align: justify;
}

/*Новости*/

.b-news {
  float: left;
  width: 60%;
}

.b-news-header {
  font-weight: 900;
  margin: 15px auto;
  width: 200px;
  text-transform: uppercase;
  text-align: center;
}

/*контейнер-колонка страницы*/

.b-page {
  width: 960px;
  min-height: 100%;
  background: lightgreen;
  margin: 0 auto;
}

/*Боковушка*/

.b-sidebar {
  float: right;
  width: 35%;
}

/*Слайдер*/

.b-slider {
  width: 100%;
  height: auto;
}

.b-slider__photo {
  width: 100%;
  height: auto;
}

/*контейнер-колонка страницы*/

.b-page {
  background: brown;
  color: yellow;
}