.b-menu__item{
    background-color:royalblue;
    color:white;
    text-align:center; line-height: 40px;
    height:40px;
    flex-basis:50px;
    flex-grow: 1;
    box-shadow: inset 0 0 3px chartreuse;
}
.b-menu__item:hover{
    box-shadow: inset 0 0 3px red;
    opacity:0.8;
}