/*модификатор: вертикальное расположение*/
.b-menu_orient_vertical{
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 6px;
}
.b-menu_orient_vertical .b-menu__item{
    width:100%;
}